.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: lightblue;
}
.table {
  border: 1px solid lightgray;
}

td:nth-child(2) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 204px;
}
.form-style {
  border-radius: 10px;
  background: whitesmoke;
  padding: 30px;
}

.flex-row{
  display: flex;
  justify-content: space-around;
  box-shadow: 10px 10px 5px #aaaaaa;
  border-radius: 10px;
  background: #9bba70;
  padding: 30px;
}